*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}














/* Testimonials Slider */
.testimonials {
  width: 100%;
  background: url("../Photos/testimonial.webp") center/cover no-repeat;
  height: 600px;
}

.testimonial-item {
  text-align: center;
  max-width: 800px;
  margin: 90px auto 30px;
  color: #000;
}

.testimonial-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  background-size: cover;
  background-position: center;
}

/* Alada photo class */
.photo1 { background-image: url("../Photos/client-1_200x200.avif"); }
.photo2 { background-image: url("../Photos/client-2_200x200.webp"); }
.photo3 { background-image: url("../Photos/client-3_200x200.avif"); }




.testimonial-item p {
  letter-spacing: 0.5px;
  line-height: 1.8;
  font-size: 18px;
}

.text-clr{
    color: #e49814;
    font-size: 16px;
}
.star-rating i {
  color: #e49814;
  font-size: 15px;
  margin: 0 2px;
}

/* Move indicators to bottom */
.testimonials .carousel-indicators {
  bottom: -70px !important;    
}

.testimonials .carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  background-color: #c7c7c7;
  border-radius: 50%;
}

.testimonials .carousel-indicators .active {
  background-color: #f7c02b;
}

